Package: ws.hbang.screenfade
Name: ScreenFade
Depends: mobilesubstrate
Version: 1.1~beta
Architecture: iphoneos-arm
Description: Control screen fades.
Maintainer: HASHBANG Productions <screenfade@hbang.ws>
Author: HASHBANG Productions <screenfade@hbang.ws>
Section: Tweaks
